# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
*.env

# Virtualenv
venv/
env/


# VSCode
.vscode/

# Mac/Linux/Windows
.DS_Store
Thumbs.db

#secretcodes
makefile