# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
*.env

# Virtualenv
venv/
env/


# VSCode
.vscode/

# Mac/Linux/Windows
.DS_Store
Thumbs.db

#secretcodes
makefile
secret_key = "django-insecure-_wjlw7t!a3_r$!-8mkkkr70nfxir9hg1@2-ceb5t_=gv&h2yq9"