<!DOCTYPE html>
<html>
  <head>
    <title>Book a Meeting</title>
    <!-- Calendly script -->
    <script
      type="text/javascript"
      src="https://assets.calendly.com/assets/external/widget.js"
      async
    ></script>
  </head>
  <body>
    <h1>Book a Meeting with Me</h1>
    <form method="POST" action="{% url 'BookMeeting:bookmeeting' %}">
      {% csrf_token %}
      <input type="text" name="name" placeholder="Your Name">
      <input type="email" name="email" placeholder="Your Email">
      <input type="hidden" name="calendly_uri" value="https://calendly.com/thasniabbas76/30min">
      <button type="submit">Book Now</button>
  </form>
  
  <form action="{% url 'BookMeeting:fetch_events' %}" method="get">
    <button type="submit">Fetch Events</button>
  </form>
  
    <!-- Inline widget -->
    <div
      class="calendly-inline-widget"
      data-url="https://calendly.com/thasniabbas76/30min"
      style="min-width: 320px; height: 630px"
    ></div>
  </body>
</html>
